<head>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>

  <!-- <h1>Stream</h1> -->
<div id="profile">
  <div id="profile-inner">
    <%if session[:user_id] != nil %>
    
    
  <h2> Welcome <%= @user.username %> </h2>

  <nav>
    <ul>
      <li> Username: <%= @user.username %> </li>
      <li> First Name: <%= @user.fname %> </li>
      <li> Last Name: <%= @user.lname %> </li>
      <li> E-mail Address: <%= @user.email %> </li>  
      <li> Location: <%= @user.profile.location %> </li>
      <li> Occupation: <%= @user.profile.occupation %> </li>
      <li> Age:  <%= @user.profile.age %></li>
    </ul>
 
  <% end %>
  <!-- <a href ="/edit"> Edit Profile</a>
  <a href ="/delete"> Delete Account </a> -->
  </div>

  <div id="profilefeed">

  <form action="/post_feed" method="POST">
    <label><b>Enter Your New Feed</b></label>
    <input name="[user]feed" type="text">
    <input type="submit" value="submit"><br>
  </form>
  <!-- <div class="clear"></div> -->

  <h3>Your last 10 posts</h3>
  <% current_user.posts.last(10).reverse.each do |x| %>
  <p><%= x.posttext %></p>
  <% end %>

  </div>
</div>     



  